<div class='contentWrapper ng-cloak'>
  <div class='content'>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3" style='margin-left:10px;' ng-repeat="image in images">
          <div class="thumbnail">
            <div class="caption">
              <div class="emage">
                <img class="img-responsive" ng-src="https://raw.github.com/codef0rmer/angular-dragdrop/master/demo/assets/img/{{image.thumb}}"/>
              </div>
              <p>
                <div class="btn btn-droppable" data-drop="true" ng-model="list1"
                  jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                  <div class="btn btn-info btn-draggable" ng-show="list1[$index].title" data-drag="{{list1[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}"
                    ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                    {{list1[$index].title}}
                  </div>
                </div>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>