<!DOCTYPE html>
<html ng-app="drag-and-drop">
  <head lang="en">
    <meta charset="utf-8">
    <title>PlayScape Quiz</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='styles/main.css' rel='stylesheet' type="text/css">
  </head>
  <body ng-app="drag-and-drop">

    <div  class="container" ui-view>
        <div ng-controller="loginCtrl">
          <h1>Login</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="password"><hr>
          <button class="btn btn-success" ng-click="submit()">Login</button>
        </div>
      </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/questions.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="scripts/directives/questions.js"></script>
  </body>
</html>

